@-moz-document regexp("^https?://((blog|gist|guides|help|raw|resources|status|developer)\\.)?github\\.com/((?!generated_pages/preview).)*$"), domain("githubusercontent.com"), domain("graphql-explorer.githubapp.com") {
  .pl-c {
    color: #6a737d;
    color: #b3b8be !important;
  }

  .pl-c1,
  .pl-s .pl-v {
    color: #005cc5;
    color: #62abff !important;

  }

  .pl-e,
  .pl-en {
    color: #6f42c1;
    color: #b7a0e0 !important;
  }

  .pl-smi,
  .pl-s .pl-s1 {
    color: #24292e;
    color: #8693a1 !important;

  }

  .pl-ent {
    color: #22863a;
    color: #76dc8f !important;

  }

  .pl-k {
    color: #d73a49;
    color: #eb9ca3 !important;

  }

  .pl-s,
  .pl-pds,
  .pl-s .pl-pse .pl-s1,
  .pl-sr,
  .pl-sr .pl-cce,
  .pl-sr .pl-sre,
  .pl-sr .pl-sra {
    color: #032f62;
    color: #3891f8 !important;

  }

  .pl-v,
  .pl-smw {
    color: #e36209;
    color: #f9ae7b !important;

  }

  .pl-bu {
    color: #b31d28;
    color: #e97d85 !important;
  }

  /*
  .pl-ii {
    color: #fafbfc; 
    background-color: #b31d28; 
  }

  .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
  }
  */

  .pl-c2::before {
    content: "^M";
  }

  .pl-sr .pl-cce {
    color: #22863a;
    color: #76dc8f !important;

  }

  .pl-ml {
    color: #735c0f;
    color: #e9c756 !important;
  }

  .pl-mh,
  .pl-mh .pl-en,
  .pl-ms {
    color: #005cc5;
    color: #62abff !important;
  }

  .pl-mi {
    color: #24292e;
    color: #8693a1 !important;
  }

  .pl-mb {
    color: #24292e;
    color: #8693a1 !important;
  }

  .pl-mdr {
    color: #b7a0e0 !important;
  }

  .pl-ba {
    color: #586069;
    color: #757f8b !important;
  }

  .pl-sg {
    color: #959da5;
    color: #aab0b7 !important;
  }

  .pl-corl {
    color: #032f62;
    color: #0555b1 !important;
  }

  .markdown-body .highlight pre, .markdown-body pre {
    background-color: #f6f8fa;
    background-color: #0a0806 !important;
  }
}
