@-moz-document regexp("^https?://((chat|meta|es|ja|pt|ru)\\.)*stackoverflow\\.com.*"), domain("serverfault.com"), domain("superuser.com"), domain("stackapps.com"), domain("mathoverflow.net"), domain("askubuntu.com"), regexp("^https?://((?!(www|area51|gaming)).*\\.)?stackexchange\\.com.*") {
  body {
    background-image: none;
  }

  .question-hyperlink {
    color: #333333;
    color: #888888 !important;
  }

  pre.prettyprinted {
    background-color: #eff0f1;
    background-color: #383c3f !important;
  }

  .prettyprinted .str,
  .prettyprinted .lit,
  .prettyprinted .tag {
    color: #7d2727;
    color: #be3b3b !important;
  }
  
  .prettyprinted .kwd,
  .prettyprinted .dec {
    color: #101094;
    color: #6262ee !important;
  }

  .prettyprinted .pun,
  .prettyprinted .pln {
    color: #303336;
    color: #93999f !important;
  }

}
