@-moz-document url-prefix("https://twitter.com")
{
  #page-outer,.AppContent,.compensate-for-scrollbar,.gallery-enabled,.gallery-enabled .global-nav-inner,.grid-enabled,.grid-enabled .global-nav-inner,.modal-enabled,.modal-enabled .global-nav-inner,.overlay-enabled,.overlay-enabled .global-nav-inner,.profile-editing,.profile-editing .global-nav-inner,.ProfileHeading-content,.TwitterCard-container--clickable,body.logged-in,body:first-child,html:first-child
  {
    background-color: #131920 !important;
  }

  body .modal-body p,body .modal .modal-tweet,body .new-tweets-bar,body .NotificationsHeadingContent,body .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item,body .permalink .in-reply-to #ancestors:not(.ThreadedConversation) .stream-item .tweet:hover,body .ProfileHeading-content,body .RichEditor,body .RichEditor.is-fakeFocus,body .RichEditor div[contenteditable],body .RichEditor div[contenteditable].fake-focus,body .RichEditor div[contenteditable]:focus,body .SignupCallOut,body .stream-item-activity-notification
  {
    background-color: #1c2531 !important;
    border-color: #2f3d51 !important;
    color: #fff !important;
  }

  body .TwitterCardsGrid-col--12 .PollXChoice-pollWrapper
  {
    background-color: #212c3a !important;
    border-radius: 0 !important;
    box-shadow: 0 5px 0 0 #212c3a !important;
  }

  body .PermalinkOverlay-content .TwitterCardsGrid-col--12 .PollXChoice-pollWrapper
  {
    background-color: #0e131a !important;
    box-shadow: 0 5px 0 0 #0e131a !important;
  }

  body #permalink-overlay,body .PermalinkProfile-overlay,body .ProfileCanopy-inner
  {
    z-index: 1 !important;
  }

  body .TwitterCard .PollXChoice-optionContainer .PollXChoice-choice--chart
  {
    background: #1da1f2 !important;
  }

  body .EdgeButton.EdgeButton--primary.js-promptAction,body .LiveVideoHomePageModule-eventTitle,body .MomentAnalyticsData-entryName,body .MomentCapsuleLikesFacepile-countNum,body .personalization-field,body .PromptbirdPrompt--dashboardProfile .PromptbirdPrompt-explanation,body .PromptbirdPrompt--dashboardProfile .PromptbirdPrompt-title,body .TwitterCard .MomentCard-authorName,body .TwitterCard .PollXChoice-optionContainer
  {
    color: #fff !important;
  }

  body .MomentAnalyticsDialog-card .MomentCapsuleSummary--small
  {
    border: 1px solid #1b95e0 !important;
  }

  body .EdgeButton--primary
  {
    background-color: #1da1f2 !important;
    border: 1px solid #1da1f2 !important;
    color: #fff !important;
  }

  body .EdgeButton--secondary
  {
    background-color: #212c3a !important;
    color: #fff !important;
  }

  body .EdgeButton--primary,body .EdgeButton--secondary
  {
    border-color: #1da1f2 !important;
  }

  body .t1-previous-page
  {
    color: #1da1f2 !important;
  }

  body div[contenteditable=plaintext-only].fake-focus,body div[contenteditable=plaintext-only]:focus,body div[contenteditable=true].fake-focus,body div[contenteditable=true]:focus,body input:focus,body textarea:focus
  {
    box-shadow: none !important;
    border-color: #1da1f2 !important;
  }

  body .trends-dialog .content-placeholder p
  {
    background-color: transparent !important;
  }

  body .MomentMediaItem
  {
    background-color: #212c3b !important;
  }

  body .ProfileHeading
  {
    z-index: auto !important;
  }

  body .PromptbirdPrompt--dashboardProfile,body .PromptbirdPrompt--dashboardProfile .PromptbirdPrompt-arrow
  {
    background-color: #161d27 !important;
    border-color: #2f3d51 !important;
  }

  body .PollingCardComposer
  {
    background-color: #1c2531 !important;
    box-shadow: inset 0 1px 0 #2f3d51 !important;
  }

  body .advanced-search .chk-inner,body .advanced-search input[type=text],body .advanced-search select,body .copy-found-media-link-container textarea.found-media-link-destination,body .copy-link-to-tweet-container textarea.link-to-tweet-destination,body .t1-select,body div[contenteditable],body input,body textarea,body textarea[readonly]
  {
    background-color: #131920 !important;
    border: 1px solid rgba(0,0,0,.25) !important;
    color: #fff !important;
  }

  body .MomentAnalyticsDialog-disclaimer,body .PollingCardComposer .PollingCardComposer-pollDuration,body .typeahead .dropdown-inner>.has-items~.has-items,body .typeahead .dropdown-inner>.has-results~.has-results
  {
    border-top: 1px solid #2f3d51 !important;
  }

  body .RichEditor,body .TweetBoxAttachments
  {
    border-color: #2f3d51 !important;
  }

  body .Gallery-content
  {
    background-color: transparent !important;
  }

  body .DMActivity-body,body .DMDivider,body .EmojiBar-icon,body .EmojiBar-suggestions,body .global-nav-inner,body .module,body .module .flex-module,body .MomentMakerCoverDialog-cell--upload,body .MomentMakerHomeModule,body .MoveableModule,body .ProfileAvatar,body .ProfileCanopy-navBar,body .ProfileCard,body .ProfileNav-item--userActions,body .ProfileSidebar .ProfileLifelineInfo,body .ProfileSidebar .RelatedUsers,body .ProfileSidebar .TweetImpressionsModule,body .stream-item:not(.no-header-background-module),body .tweet-form .thumbnail-container,body .WhoToFollow
  {
    background-color: #212c3b !important;
  }

  body .datepicker.dropdown-menu,body .MomentMakerCoverCropper
  {
    background-color: #131920 !important;
  }

  body #global-tweet-dialog .modal-tweet .tweet,body #global-tweet-dialog .modal-tweet .tweet:hover
  {
    background: transparent !important;
  }

  body .photo-selector .image-selector:hover
  {
    background-color: rgba(28,37,49,.5) !important;
    border-radius: 5px !important;
  }

  body .ComposerThumbnail,body .content-header,body .content-no-header,body .DMInboxItem,body .module,body .module .flex-module,body .MomentMakerHomeModule,body .ProfileAvatar,body .ProfileCanopy-navBar,body .ProfileCard,body .ProfileHeading-content,body .ProfileSidebar .ProfileLifelineInfo,body .ProfileSidebar .RelatedUsers,body .ProfileSidebar .TweetImpressionsModule,body .PromptbirdPrompt-streamItem.separated-module+.stream-item:not(.no-header-background-module),body .stream-item+.stream-item.separated-module:not(.no-header-background-module),body .stream-item.separated-module+.stream-item:not(.no-header-background-module),body .stream-item:not(.no-header-background-module),body .tweet,body .tweet-form .thumbnail-container,body .TwitterCard-container,body .WhoToFollow
  {
    border-color: #2f3d51 !important;
  }

  body .ComposerThumbnail
  {
    background: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
  }

  body .tweet-form .thumbnail-container
  {
    box-shadow: none !important;
  }

  body .DirectMessage--received .Caret:before
  {
    border-color: #1c2531 !important;
  }

  body .DirectMessage--received .DirectMessage-text,body .MomentDialog-footer,body .MomentDialog-header
  {
    background-color: #1c2531 !important;
    color: #14171a !important;
  }

  body .conversation-module .conversation-tweet-item .tweet:hover,body .DirectMessage--received .DirectMessage-message,body .DMInboxItem:hover,body .tweet:hover
  {
    background-color: #1c2531 !important;
  }

  body .DMInboxItem.is-unread
  {
    background-color: #142f52 !important;
  }

  body .DMActivity-header,body .DMComposer-container,body .global-nav .search-input,body .modal-header,body .MomentMakerCoverDialog .modal-body,body .u-bgUserColorLightest
  {
    background-color: #131920 !important;
    border-color: #2f3d51 !important;
  }

  body .DashboardProfileCard,body .ListCreationModule,body .top-timeline-tweetbox .timeline-tweet-box,body .tweet-box
  {
    background-color: #253141 !important;
    border-color: #2f3d51 !important;
  }

  body .DashboardProfileCard-bg,body .ProfileCard-bg
  {
    border-color: #2f3d51 !important;
  }

  body .hovercard .profile-social-proof
  {
    background: transparent !important;
    border-color: transparent !important;
    color: #fff !important;
  }

  body .stream-item-activity-notification .stream-item-activity-header .pretty-link b
  {
    color: #3dabf5 !important;
  }

  body .HomeEmptyTimeline,body .ProfilePrefilledTweet .tweet
  {
    background-color: #090c10 !important;
    border: 1px solid #2f3d51 !important;
  }

  body .HomeEmptyTimeline-header,body .MomentsPermalinkPage-relatedTitle,body .MutedKeyword-expiration,body .ProfileOnboarding-subtitle,body .ProfileOnboarding-title,body .SearchEmptyTimeline-emptyTitle,body .SearchSettingsDialog-cell--name,body .TweetTextSize.TweetTextSize--xlarge
  {
    color: #fff !important;
  }

  body .stream-container .AdaptiveStreamGridImage .grid-tweet-actions-container
  {
    background: #212c3b !important;
    border: 1px solid #1c2531 !important;
  }

  body .MutedKeywordsAddItemForm
  {
    background-color: transparent !important;
  }

  body .ProfileOnboarding-caret
  {
    border-bottom: 10px solid #2f3d51 !important;
  }

  body .ProfileOnboarding-caretInner
  {
    border-bottom: 9px solid #212c3b !important;
  }

  body .bio-container,body .DashboardProfileCard-name,body .fullname,body .ProfileHeaderCard,body .ProfileHeading-toggleItem.is-active,body .ProfileHeading-toggleItem.is-active:focus,body .ProfileHeading-toggleItem.is-active:hover,body .ProfileNameTruncated,body .ProfileNav-item.is-active span.ProfileNav-value,body .QuoteTweet-fullname,body .stream-item-activity-line.js-actionable-user.stream-item-activity-line-notification .fullname,body .stream-item-activity-notification,body .SummaryCard-content h1,body .SummaryCard-content h2,body .SummaryCard-content h3,body .tweet-text,body .TweetImpressionsModule,body .WhoToFollow-users .fullname
  {
    color: hsla(0,0%,100%,.85) !important;
  }

  body .ProfileHeaderCard-joinDate span,body .ProfileHeaderCard-location span
  {
    color: hsla(0,0%,100%,.5) !important;
  }

  body .SummaryCard-content p
  {
    color: hsla(0,0%,100%,.65) !important;
  }

  body .btn,body .DashboardProfileCard-avatarImage
  {
    background-color: #1c2531 !important;
    background-image: none !important;
    border-color: #161d27 !important;
    color: #fff !important;
  }

  body .btn:hover,body .DashboardProfileCard-avatarImage:hover
  {
    background-image: none !important;
    background-color: #131920 !important;
  }

  body .plain-btn
  {
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
  }

  body .TwitterCard .SummaryCard-image
  {
    background-color: #161d27 !important;
  }

  body .blocked .follow-button .blocked-text,body .blocked .follow-button:hover .unblock-text,body .datepicker.dropdown-menu,body .following .follow-button.cancel-hover-style:hover .following-text,body .following .follow-button .following-text,body .following .follow-button:hover .unfollow-text,body .not-following .follow-button .follow-text,body .pending .follow-button.cancel-hover-style:hover .pending-text,body .pending .follow-button .pending-text,body .pending .follow-button:hover .cancel-text
  {
    color: #fff !important;
  }

  body #global-actions .new:before,body .account-group:focus .fullname,body .account-group:hover .fullname,body .account-summary:focus .fullname,body .btn-link,body .btn-link:focus,body .card .card-body .attribution:focus,body .card .card-body:hover .attribution,body .card .list-details a:focus,body .card .list-details a:hover,body .client-and-actions a:focus,body .client-and-actions a:hover,body .dismiss-btn:hover b,body .dropdown.open .user-dropdown.plain-btn,body .find-friends-sources li:hover .source,body .icon-btn,body .list-membership-container .create-a-list,body .list-membership-container .create-a-list:hover,body .list .username a:focus,body .list .username a:hover,body .message .message-text a,body .metadata a:focus,body .metadata a:hover,body .module .list-link:focus,body .module .list-link:hover,body .new-tweets-bar,body .open>.plain-btn,body .plain-btn:focus,body .plain-btn:hover,body .pretty-link:focus b,body .pretty-link:focus s,body .pretty-link:hover b,body .pretty-link:hover s,body .pretty-link b,body .remove-background-btn,body .stats a:focus,body .stats a:focus strong,body .stats a:hover,body .stats a:hover strong,body .stats a strong,body .stream-item-activity-notification .latest-tweet .tweet-row a:focus,body .stream-item-activity-notification .latest-tweet .tweet-row a:focus b,body .stream-item-activity-notification .latest-tweet .tweet-row a:focus s,body .stream-item-activity-notification .latest-tweet .tweet-row a:hover,body .stream-item-activity-notification .latest-tweet .tweet-row a:hover b,body .stream-item-activity-notification .latest-tweet .tweet-row a:hover s,body .stream-item.open .original-tweet .details b,body .stream-item .original-tweet.focus .details b,body .stream-item .view-all-supplements:focus,body .stream-item .view-all-supplements:hover,body .stream-item:hover .original-tweet .details b,body .stream-item a:focus .fullname,body .stream-item a:hover .fullname,body .Trends .context-trend-item .trend-name,body .tweet .context .pretty-link:focus b,body .tweet .context .pretty-link:focus s,body .tweet .context .pretty-link:hover b,body .tweet .context .pretty-link:hover s,body .tweet .details.with-icn .Icon,body .tweet .details.with-icn b,body .tweet .time a:focus,body .tweet .time a:hover,body a:not(.js-nav):not(.global-dm-nav),body a[role=button]:not(.global-dm-nav):not(.js-moments-tab),body li.active,body s
  {
    color: #1da1f2 !important;
  }

  body li.js-moments-tab:not(.active) a.js-nav
  {
    color: #66757f !important;
  }

  body .datepicker-dropdown.datepicker-orient-bottom:after
  {
    border-top: 6px solid #131920 !important;
  }

  body .datepicker table tr td.day.focused,body .datepicker table tr td.day:hover,body .datepicker table tr td span:hover,body .datepicker tfoot tr th:hover,body .datepicker thead tr:first-child th:hover
  {
    background: #0ab5fa !important;
  }

  body .u-textUserColor,body .u-textUserColorHover:active,body .u-textUserColorHover:focus,body .u-textUserColorHover:hover,body .u-textUserColorHover:hover .ProfileTweet-actionCount
  {
    color: #1c9dec !important;
  }

  body #global-actions>li>a,body .AdaptiveFiltersBar,body .AdaptiveFiltersBar-item.is-selected
  {
    border-bottom-color: #1c9dec !important;
  }

  body #global-actions>li:hover>a,body #global-actions>li>a:focus,body .nav.right-actions>li>a:focus,body .nav.right-actions>li>a:hover,body .nav.right-actions>li>button:focus,body .nav.right-actions>li>button:hover
  {
    border-bottom-color: #1c9dec !important;
    color: #1c9dec !important;
  }

  body .ProfileCard-avatarLink
  {
    background-color: #212c3b !important;
  }

  body .tweet.dismissible-content.focus
  {
    z-index: 1 !important;
  }

  body #global-actions .new:before,body .account-group:focus .fullname,body .account-group:hover .fullname,body .account-summary:focus .fullname,body .btn-link,body .btn-link:focus,body .card .card-body .attribution:focus,body .card .card-body:hover .attribution,body .card .list-details a:focus,body .card .list-details a:hover,body .client-and-actions a:focus,body .client-and-actions a:hover,body .dismiss-btn:hover b,body .dropdown.open .user-dropdown.plain-btn,body .find-friends-sources li:hover .source,body .icon-btn,body .list-membership-container .create-a-list,body .list-membership-container .create-a-list:hover,body .list .username a:focus,body .list .username a:hover,body .message .message-text a,body .metadata a:focus,body .metadata a:hover,body .module .list-link:focus,body .module .list-link:hover,body .new-tweets-bar,body .open>.plain-btn,body .plain-btn:focus,body .plain-btn:hover,body .pretty-link:focus b,body .pretty-link:focus s,body .pretty-link:hover b,body .pretty-link:hover s,body .pretty-link b,body .remove-background-btn,body .stats a:focus,body .stats a:focus strong,body .stats a:hover,body .stats a:hover strong,body .stats a strong,body .stream-item-activity-notification .latest-tweet .tweet-row a:focus,body .stream-item-activity-notification .latest-tweet .tweet-row a:focus b,body .stream-item-activity-notification .latest-tweet .tweet-row a:hover,body .stream-item-activity-notification .latest-tweet .tweet-row a:hover b,body .stream-item.open .original-tweet .details b,body .stream-item .original-tweet.focus .details b,body .stream-item .view-all-supplements:focus,body .stream-item .view-all-supplements:hover,body .stream-item:hover .original-tweet .details b,body .stream-item a:focus .fullname,body .stream-item a:hover .fullname,body .tweet .context .pretty-link:focus b,body .tweet .context .pretty-link:focus s,body .tweet .context .pretty-link:hover b,body .tweet .context .pretty-link:hover s,body .tweet .details.with-icn .Icon,body .tweet .details.with-icn b,body .tweet .time a:focus,body .tweet .time a:hover,body a,body a:active,body a:hover
  {
    color: #1c9dec !important;
  }

  body li.stream-item.highlighted
  {
    background-color: #2f3d51 !important;
  }

  .TweetBox-photoIntent .photo-selector .btn
  {
    background: transparent !important;
    border: 0 !important;
  }

  .btn.focus,.btn:focus,.Button:focus,.EmojiPicker-item.is-focused
  {
    box-shadow: 0 0 0 1px rgba(206,222,242,.26),0 0 3px 2px rgba(29,161,242,.42) !important;
  }

  .MomentCapsuleItemTweet--withText
  {
    background-color: #090c10 !important;
    border-radius: 4px !important;
  }

  .new-tweets-bar:hover
  {
    background-color: rgba(61,171,245,.3) !important;
  }

  .FollowStatus,.hovercard.profile-card .ProfileCard-content .FollowStatus
  {
    background-color: #17bf63 !important;
    padding: 2px 4px !important;
    border-radius: 3px !important;
    color: #fff !important;
    font-weight: 500 !important;
  }

  .tweet .context .pretty-link b,.tweet .context .pretty-link s
  {
    color: #8899a6 !important;
  }

  .QuoteTweet--unavailable
  {
    background: #161d27 !important;
  }

  .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:active,.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:focus,.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:hover
  {
    background: transparent !important;
  }

  .hovercard .arrow
  {
    background-color: #212c3b !important;
  }

  .wtf-module .UserSmallListItem
  {
    border-bottom: 1px solid #2f3d51 !important;
  }

  .EmojiPicker-query
  {
    background-color: #212c3a !important;
    background-image: none !important;
    border-bottom: 1px solid #1c2531 !important;
  }

  .EmojiPicker-content.Caret:after,.EmojiPicker-content.Caret:before
  {
    border-color: #090c10 !important;
  }

  .EmojiPicker-categoryHeader
  {
    border-bottom: 1px solid #212c3a !important;
  }

  .EmojiPicker-categoryColumn
  {
    border-right: 1px solid #212c3a !important;
  }

  .EmojiPicker-diversityRow,.logged-out .permalink-replies,.MomentsPermalinkPage-related
  {
    border-top: 1px solid #212c3a !important;
  }

  .EmojiPicker-query input[type=text].EmojiPicker-queryInput,.trends-current-location,.WtfLargeCarouselStreamItem-title
  {
    color: #fff !important;
  }

  .TweetImpressionsModule-xAxis
  {
    background-color: #2f3d51 !important;
  }

  .MomentMakerTopBarDropdownMenu .dropdown-menu .dropdown-link[disabled],.MomentMakerTopBarDropdownMenu .dropdown-menu .dropdown-link[disabled]:hover,.MomentSummaryActionsMenu .dropdown-menu .dropdown-link[disabled],.MomentSummaryActionsMenu .dropdown-menu .dropdown-link[disabled]:hover
  {
    background-color: transparent !important;
    color: #aab8c2 !important;
    opacity: .25 !important;
    cursor: not-allowed !important;
  }

  .EdgeButton--primary:focus,.EdgeButton--secondary:focus
  {
    box-shadow: 0 0 0 2px #212c3b,0 0 0 4px rgba(10,181,250,.5) !important;
  }

  .EdgeButton--secondary:active,.EdgeButton--secondary:hover
  {
    background-color: #1b95e0 !important;
    color: #fff !important;
  }

  .EdgeButton--secondary.disabled,.EdgeButton--secondary[aria-disabled=true],.EdgeButton--secondary[disabled],.EdgeButton--secondary[disabled]:hover
  {
    opacity: .3 !important;
    background-color: transparent !important;
  }

  .FoundMediaSearch-query
  {
    background-color: #212c3b !important;
    background-repeat: repeat-x !important;
    background-image: none !important;
    border: 1px solid #2f3d51 !important;
    border-bottom: none !important;
  }

  .FoundMediaSearch-content.Caret:after
  {
    border-color: #212c3b !important;
  }

  .FoundMediaSearch-focusable
  {
    border: 3px solid #121921 !important;
  }

  .form-search .typeahead:after,.form-search .typeahead:before
  {
    box-shadow: 0 -3px 3px #090c10,0 -6px 8px #090c10 !important;
  }

  .global-nav .search-input
  {
    color: #8899a6 !important;
  }

  .global-nav .search-input.focus,.global-nav .search-input:focus
  {
    color: #abb8c2 !important;
  }

  .conversation-module>li:after,.conversation-module>li:before,.ThreadedConversation--permalinkTweetWithAncestors:before,.ThreadedConversation-tweet:after,.ThreadedConversation-tweet:not(.is-hiddenAncestor)~.ThreadedConversation-tweet:before,.ThreadedConversation-unavailableTweet:after,.ThreadedConversation-unavailableTweet:before,.ThreadedConversation-viewOther:before,.vellip,.vellip:after,.vellip:before
  {
    background-color: #085a91 !important;
  }

  #global-tweet-dialog .modal-tweet-form-container,.home-tweet-box,.LiveVideo-tweetBox,.modal-content,.modal-tweet-form-container,.permalink .inline-reply-tweetbox,.RetweetDialog-commentBox,.SummaryCard-content,.ThreadedConversation-viewOther,.WebToast-box--altColor
  {
    background: #161d27 !important;
  }

  .dropdown-menu,.modal-header,.permalink,.permalink-tweet,.permalink-tweet:hover,.PermalinkOverlay-spinnerContainer,.stream-end-inner
  {
    background: #0f141a !important;
  }

  .dropdown-divider,.dropdown-menu,.permalink-tweet,.permalink-tweet:hover,.permalink.has-replies .inline-reply-tweetbox,.permalink .in-reply-to .tweet,.permalink .inline-reply-tweetbox,.permalink .replies-to .tweet,.permalink .stats .avatar-row a:first-child,.QuoteTweet,.stream-end,.stream-end-inner,.stream-end-item,.stream-loading,.stream-placeholder,.ThreadedConversation,.ThreadedConversation+.ThreadedConversation--loneTweet,.ThreadedConversation--loneTweet:first-child,.ThreadedConversation--ownReply+.ThreadedConversation--loneTweet:not(.ThreadedConversation--ownReply),.ThreadedConversation-showMore,.ThreadedConversation-showMore:after,.ThreadedConversation-viewOther .view-other-link,.tweet .stats,:not(.ThreadedConversation--ownReply)+.ThreadedConversation--ownReply,[class^=TwitterCardsGrid]
  {
    border-color: hsla(0,0%,100%,.18) !important;
  }

  .dropdown-caret .caret-inner
  {
    border-bottom-color: #090c10 !important;
  }

  .permalink-tweet.focus,.permalink-tweet:hover,.QuoteTweet-container,.ThreadedConversation,.ThreadedConversation--loneTweet,.ThreadedConversation-showMore
  {
    background-color: #161d27 !important;
  }

  .DashboardProfileCard-avatarLink
  {
    background-color: transparent !important;
  }

  .Banner--aboveNav
  {
    background-color: #090c10 !important;
    color: #ccc !important;
  }

  .Banner--aboveNav+.Banner--aboveNav
  {
    border-top: 1px solid #2f3d51 !important;
  }

  .front-page-photo-set .front-bg
  {
    display: none !important;
  }

  .front-page-photo-set .front-signin,.front-page-photo-set .front-signup
  {
    background: #2f3d51 !important;
    border-color: #090c10 !important;
  }

  .front-page-photo-set .front-signin .text-input,.front-page-photo-set .front-signup,.front-page-photo-set .front-signup .text-input
  {
    border: 1px solid #1c2531 !important;
    box-shadow: inset 0 1px 0 #2f3d51,0 1px 0 #2f3d51 !important;
    color: #fff !important;
  }

  .front-signin h2,.front-signup h2
  {
    border-bottom: 1px solid #212c3b !important;
    box-shadow: 0 1px 0 #212c3b !important;
    color: #8899a6 !important;
    text-shadow: none !important;
  }

  .front-signin h2 strong,.front-signup h2 strong,.PageDownload-description,.PageDownload-title
  {
    color: #fff !important;
  }

  .login-responsive .page-canvas
  {
    background-color: #2f3d51 !important;
    box-shadow: 0 0 225px #212c3b !important;
  }

  .mobile-complete-wrapper h1,.resend-password-wrapper h1,.signin-wrapper h1,.signup-wrapper h1
  {
    color: #fff !important;
  }

  .signin .remember
  {
    color: #aab8c2 !important;
  }

  .contact-support,.login-responsive .mobile,.route-resend-password .mobile
  {
    background-color: #212c3b !important;
    color: #657786 !important;
  }

  .search-404 input[type=text]
  {
    box-shadow: inset 0 2px 4px #1c2531,0 1px 0 #1c2531 !important;
    background-color: #1c2531 !important;
    border-color: #1c2531 !important;
  }

  .global-nav--newLoggedOut #signin-dropdown
  {
    background-color: #212c3a !important;
  }

  .PageDownload .SmsAppLinkForm .input-prepend #sms-dial-code
  {
    background-color: #212c3b !important;
    border-color: #2f3d51 !important;
  }

  .LoginForm-rememberForgot a,.session-dropdown .dropdown-toggle.js-dropdown-toggle
  {
    background: transparent !important;
  }

  .front-signup .btn
  {
    box-shadow: 0 1px 0 #212c3b !important;
  }

  .front-page-photo-set .front-signin .forgot,.front-signin .forgot,.front-signin .remember,.front-signin .separator
  {
    text-shadow: none !important;
  }

  .front-signin .submit
  {
    box-shadow: 0 1px 0 #2f3d51 !important;
  }

  .QuoteTweet-container
  {
    border-radius: 4px !important;
  }

  .TwitterCard-container--clickable:hover
  {
    background: transparent !important;
  }

  .account-group-inner s,.username s,div[contenteditable=true].fake-focus,div[contenteditable=true]:focus,input:focus,textarea:focus
  {
    color: #b1bbc3 !important;
  }

  .error-page h1,.error-page p,.metadata,.metadata a,.metadata button.btn-link,.ProfilePage-emptyModuleHeader,.time,.time a,.username
  {
    color: #8899a6 !important;
  }

  .ProfileAlerts .content
  {
    background-color: #121921 !important;
    color: #fff !important;
  }

  .DMActivity--open,.permalink-container
  {
    box-shadow: 0 0 150px 20px #000 !important;
    border-radius: 5px !important;
  }

  .global-nav .people .count .count-inner
  {
    border-color: #002b33 !important;
  }

  .ProfilePage.is-editing .ProfilePage-editingOverlay
  {
    background: #000 !important;
  }

  .u-borderUserColorLight,.u-borderUserColorLightFocus:focus,.u-borderUserColorLightHover:focus,.u-borderUserColorLightHover:hover
  {
    border-color: #2f3d51 !important;
  }

  .u-bgUserColorLighter
  {
    background-color: #2f3d51 !important;
  }

  .ProfileTweet-action .dropdown .dropdown-menu
  {
    margin: 8px -10px 0 !important;
    border: 1px solid hsla(0,0%,100%,.05) !important;
    box-shadow: 0 8px 40px rgba(0,0,0,.55) !important;
  }

  .DMNotice
  {
    background: #161d27 !important;
  }

  .DMConversation-composer
  {
    box-shadow: none !important;
  }

  .ProfileClusterFollow
  {
    background: transparent !important;
    border: transparent !important;
  }

  .MomentCapsuleVTwoItemTweet--withText
  {
    background: #161d27 !important;
  }

  .btn-widgets-edit:hover,.TwitterCard .MomentCard-description p,.widgets .code,.widgets .form-horizontal .control-label,.widgets .header h1
  {
    color: #fff !important;
  }

  .TwitterCard .MomentCard
  {
    background-color: #161d27 !important;
    color: #fff !important;
  }

  .ProfileListsTimeline .GridTimeline-end:not(.has-items)
  {
    background-color: #161d27 !important;
    border: 1px solid #2f3d51 !important;
  }

  .DirectMessage.DirectMessage--sent .js-display-url
  {
    color: #161d27 !important;
    text-decoration: underline !important;
  }

  ._1qIZ_GUf,._3DNbvirW
  {
    background: #121921 !important;
    border-color: transparent !important;
  }

  .PermalinkOverlay-spinner,.pushstate-spinner,.spinner
  {
    filter: invert(100%) hue-rotate(180deg) !important;
  }

  .content-header .header-inner,.content-inner,.content-inner.no-stream-end,.content-no-header .no-header-inner,.find-friends-bottom-subheader,.find-friends-sources,.find-friends-top-subheader,.MutedKeywordsFooter,hr
  {
    background-color: #212c3a !important;
    border-color: #2f3d51 !important;
    color: #fff !important;
  }

  .find-friends-list li
  {
    border-color: #2f3d51 !important;
  }

  .find-friends-list li:hover
  {
    background-color: #2f3d51 !important;
  }

  #notifications-optout-all-top,.notifications-prompt-container,.ThreadedConversation--header,.ThreadedConversation-showMoreThreads,.ThreadedConversation-showMoreThreadsButton
  {
    background-color: #2f3d51 !important;
    border-color: #2f3d51 !important;
    color: #fff !important;
  }

  body .js-nav-links .list-link
  {
    background-color: #212c3a !important;
    border-color: #2f3d51 !important;
    color: #aab8c2 !important;
  }

  body .js-nav-links .list-link:hover
  {
    background-color: #2f3d51 !important;
  }

  body .js-nav-links .active .list-link.js-nav
  {
    background-color: #1da1f2 !important;
    color: #fff !important;
  }

  body .js-nav-links .active .list-link.js-nav:hover
  {
    color: hsla(0,0%,100%,.75) !important;
  }

  .module li:first-child .list-link
  {
    border-top: none !important;
  }

  #content-main-heading,.app .content strong,.find-friends-list .source,.MutedKeyword-text,.settings-header,.t1-label,.t1-legend
  {
    color: #fff !important;
  }

  .alert,.banner-outer .pane-close,.welcome-banner-outer .pane-close
  {
    color: #161d27 !important;
  }

  .t1-select[disabled]
  {
    background-color: rgba(0,0,0,.15) !important;
    border: 1px solid rgba(0,0,0,.25) !important;
    opacity: .35 !important;
  }

  .checkbox input[type=checkbox],.radio input[type=radio]
  {
    box-shadow: inset 0 0 0 10px #aab8c2 !important;
  }

  .checkbox input[type=checkbox]:checked,.radio input[type=radio]:checked
  {
    box-shadow: none !important;
  }

  .ActivityItem,.RichEditor.is-fakeFocus~.TweetBoxAttachments,.stream .app,.stream .js-actionable-user.account
  {
    border-color: #2f3d51 !important;
  }

  .ep-EngagementsTableName,.ep-Header .ep-Title,.ep-MetricAnimation,.ep-TweetPerformance.ep-Section .ep-EngagementsTable .ep-EngagementsTableHeader,.ep-TweetPerformance.ep-Section .ep-Metric .ep-MetricTopContainer,.ProfileTweet-fullname.u-linkComplex-target
  {
    color: hsla(0,0%,100%,.85) !important;
  }

  .recap-header
  {
    border-bottom: 1px solid #2f3d51 !important;
    color: #f5f8fa !important;
  }

  .ProfileHeaderCard-birthdateText,.ProfileHeaderCard-joinDateText,.ProfileHeaderCard-locationText,.ProfileHeaderCard-onlineHoursText,.ProfileHeaderCard-periscopeProfileText,.ProfileHeaderCard-responsivenessLevelText,.ProfileHeaderCard-vineProfileText
  {
    color: #8899a6 !important;
  }

  .label-head.block-user-label,.SearchExtrasDropdown .dropdown-menu li>.SearchExtrasDropdown-target,.typeahead-items li>a,.typeahead .fullname,.typeahead a
  {
    color: #f3f3f3 !important;
  }

  .TweetImpressionsModule-text,.typeahead strong
  {
    color: #b3b3b3 !important;
  }

  .block-dialog .block-section,.MomentGuideNavigation,.ProfileUserMomentsTimeline .MomentCapsuleSummary
  {
    background-color: #131920 !important;
    border-bottom: 1px solid #2f3d51 !important;
  }

  .MomentMakerRecommendations
  {
    background-color: #131920 !important;
    border-top: 2px solid #2f3d51 !important;
  }

  .block-dialog .submit-section,.MomentMakerRecommendations-module
  {
    background-color: #131920 !important;
    border: 1px solid #131920 !important;
  }

  .u-borderUserColor,.u-borderUserColorHover:focus,.u-borderUserColorHover:hover
  {
    border-color: #1da1f2 !important;
  }

  .ProfileUserMomentsTimeline .GridTimeline-items.has-items
  {
    border: 1px solid #2f3d51 !important;
  }

  .MomentMakerRecommendations-more
  {
    background-color: #2f3d51 !important;
    border-top: 1px solid #2f3d51 !important;
    color: #f3f3f3 !important;
  }

  .MomentMakerRecommendations-scrollTopButton
  {
    background-color: #2f3d51 !important;
    border: 1px solid #2f3d51 !important;
  }

  .EdgeButton--tertiary
  {
    background-color: #1c2531 !important;
    border: 1px solid #aab8c2 !important;
    color: #f5f8fa !important;
  }

  .EdgeButton--tertiary:hover
  {
    background-color: #2f3d51 !important;
    color: #fff !important;
  }

  .activity-popup-users-hidden,.MomentButton--gray,.MomentButton--gray:focus
  {
    color: #f3f3f3 !important;
  }

  .DMButtonBar,.MomentMakerPage-content,.SidebarCommonModules,body[data-audience-estimate-url]
  {
    background-color: #131920 !important;
    margin: 0 auto !important;
  }

  .ProfileHeaderCardEditing-name .ProfileHeaderCardEditing-editableField,.WhoToFollowViewAllPage .content-header #content-main-heading,body[data-audience-estimate-url]
  {
    color: #fff !important;
  }

  .wtf-module .import-prompt .cta
  {
    border-bottom: 1px solid #2f3d51 !important;
  }

  .BirthdateSelect-button
  {
    background-color: #121921 !important;
    color: #66757f !important;
  }

  .DMTypeaheadHeader
  {
    color: #aab8c2 !important;
  }

  .DMTokenizedMultiselectSuggestion.is-highlighted
  {
    background-color: #1b95e0 !important;
    border-bottom: 1px solid transparent !important;
    border-top: 1px solid transparent !important;
  }

  .DMTokenizedMultiselectSuggestion.is-highlighted .DMTypeaheadItem-title.account-group .fullname,.DMTokenizedMultiselectSuggestion.is-highlighted .fullname,.DMTokenizedMultiselectSuggestion.is-highlighted .username,body .nav.right-actions>li>button:hover
  {
    color: #fff !important;
  }

  .dropdown-menu .dropdown-link.is-focused,.dropdown-menu .dropdown-link.selected,.dropdown-menu .dropdown-link:focus,.dropdown-menu .dropdown-link:hover,.dropdown-menu .selected a,.dropdown-menu .typeahead-recent-search-item.selected,.dropdown-menu .typeahead-saved-search-item.selected,.dropdown-menu li:focus .dropdown-link,.dropdown-menu li:hover .dropdown-link,.dropdown-menu li>a:focus,.dropdown-menu li>a:hover
  {
    background-color: #2f3d51 !important;
  }

  .MomentButton--white
  {
    background: #212c3b !important;
    border: 1px solid #fff !important;
  }

  .MomentUserByline-fullname
  {
    color: #f3f3f3 !important;
  }

  .MomentCapsuleItemTweet--withText,.MomentMakerCapsuleCover-empty
  {
    background-color: #212c3b !important;
    border: 1px solid #2f3d51 !important;
  }

  .MomentCapsuleSummary-title
  {
    color: #fff !important;
  }

  .MomentCapsuleCover-title
  {
    color: #1da1f2 !important;
  }

  .MomentFloatingMenu
  {
    background-color: #090c10 !important;
    border: 1px solid #212c3b !important;
  }

  .AdaptiveNewsLargeImageHeadline-body
  {
    background-color: #161d27 !important;
    border: 1px solid #2f3d51 !important;
  }

  .AdaptiveRelatedSearches,.SidebarFilterModule
  {
    background-color: #212c3b !important;
    border: 1px solid #2f3d51 !important;
  }

  .SidebarFilterModule-filters .SidebarFilterModule-select
  {
    color: #fff !important;
  }

  .follow-card .follow-bar
  {
    background-color: #212c3b !important;
    background-image: none !important;
    box-shadow: none !important;
    border: none !important;
  }

  .dashboard .stats
  {
    background-color: transparent !important;
  }

  .follow-card .flex-module-header h1
  {
    color: #f5f8fa !important;
  }

  .metadata a
  {
    color: #0ab5fa !important;
  }

  .PlayableMedia-description,.PlayableMedia-title
  {
    color: #8999a5 !important;
  }

  .QuoteTweet
  {
    border: 0 !important;
  }

  .message
  {
    background: #121921 !important;
    color: #fff !important;
    background-color: #121921 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,.25) !important;
  }

  .message .message-text
  {
    color: #fff !important;
  }

  .Tombstone
  {
    border: 1px solid #2f3d51 !important;
  }

  .AdaptiveMedia-photoContainer img,.Tombstone
  {
    background-color: #161d27 !important;
  }

  .DirectMessage-tweet .QuoteTweet
  {
    background-color: transparent !important;
  }

  .activity-truncated-tweet .tweet-content,.visible-supplement .tweet-content
  {
    background: #161d27 !important;
    padding: 12px !important;
    border-radius: 4px !important;
    margin: 0 0 0 36px !important;
  }

  .activity-supplement.js-navigable-stream
  {
    padding-right: 0 !important;
    padding-left: 48px !important;
  }

  .activity-supplement .view-all-supplements
  {
    margin-left: 16px !important;
  }

  .conversation-module>li:after,.conversation-module>li:before,.ThreadedConversation--permalinkTweetWithAncestors:before,.ThreadedConversation-tweet:after,.ThreadedConversation-tweet:not(.is-hiddenAncestor)~.ThreadedConversation-tweet:before,.ThreadedConversation-unavailableTweet:after,.ThreadedConversation-unavailableTweet:before,.ThreadedConversation-viewOther:before,.vellip,.vellip:after,.vellip:before
  {
    z-index: auto !important;
  }

  .RetweetDialog-tweet
  {
    border-radius: 4px !important;
    margin-bottom: 16px !important;
    margin-top: -16px !important;
  }

  .tweet>.context
  {
    margin-left: 24px !important;
  }

  .MomentCapsuleEditableMeta-title .rich-editor
  {
    color: #657786 !important;
  }

  .modal-footer,.MomentDialog-footer,.MomentDialog-header,.SignupDialog .SignupDialog-footer
  {
    text-align: right !important;
    border-top: 1px solid #2f3d51 !important;
  }

  .ProfileNameTruncated.account-group .Icon--verified:before
  {
    left: 30% !important;
  }

  .tweet.js-stream-tweet .Icon--verified:before
  {
    left: 19% !important;
  }

  .activity-popup-dialog-content .tweet,.AdaptiveFiltersBar,.search.advanced-search
  {
    background-color: #1c2531 !important;
    text-shadow: none !important;
  }

  .activity-popup-dialog-content .tweet .chk .td,.activity-popup-dialog-content .tweet .txt.geo-picker-container,.activity-popup-dialog-content .tweet h1,.AdaptiveFiltersBar .chk .td,.AdaptiveFiltersBar .txt.geo-picker-container,.AdaptiveFiltersBar h1,.search.advanced-search .chk .td,.search.advanced-search .txt.geo-picker-container,.search.advanced-search h1
  {
    color: #fff !important;
  }

  .activity-popup-dialog-in-reply-to-user .account,.activity-popup-dialog-users .account
  {
    border-color: #2f3d51 !important;
  }

  .input-daterange .input-group-addon
  {
    background-color: #212c3a !important;
    border: 1px solid #161d27 !important;
    text-shadow: none !important;
  }

  .ep-Header,.ProfileListItem
  {
    background-color: #212c3b !important;
    border-bottom: 1px solid #2f3d51 !important;
    color: #fff !important;
  }

  .ep-Campaign .ep-CampaignContainer
  {
    background-color: #090c10 !important;
  }

  .ProfileListsTimeline .GridTimeline-items.has-items
  {
    border: 1px solid #2f3d51 !important;
  }

  .dm-media-preview
  {
    background-color: #090c10 !important;
  }

  .ep-Signup .ep-SignupTextContainer .ep-RefreshText,.ep-Signup .ep-SignupTextContainer .ep-SignupText,.Icon--protected,.ProfileCard--wide .ProfileCard-bio,.ProfileCard-userFields,.stream-item .account .content .bio,.wtf-module .import-prompt .cta .service+p,body .SignupDialog-form .signup.SignupForm>a
  {
    color: #fff !important;
  }

  #profile-hover-container
  {
    z-index: 99999999 !important;
    display: block !important;
  }

  .PermalinkProfile-background,.ProfilePage.is-editing .ProfilePage-editingOverlay
  {
    z-index: 1 !important;
  }

  #phx-signup-form .sign-up-box
  {
    background: transparent !important;
  }

  .GalleryTweet .account-group .fullname,.GalleryTweet .account-group:hover .fullname,.GalleryTweet a.with-icn:not(:hover) .Icon
  {
    color: #f5f8fa !important;
  }

  #header
  {
    color: #fff !important;
    background: #090c10 !important;
    border-bottom: 1px solid #2f3d51 !important;
  }

  #header .logo a
  {
    border-bottom: none !important;
  }

  #session a,#session button,#session input
  {
    background: #090c10 !important;
  }

  .MomentCapsuleCover-media,.MomentMakerCapsuleCover-media.has-media,body.nofooter
  {
    border-bottom: 1px solid #2f3d51 !important;
  }

  html
  {
    background: #131920 !important;
  }

  .js #session .user-menu
  {
    background: #161d27 !important;
  }

  .user-menu .break-before
  {
    border-top: 1px solid #212c3b !important;
    background: #090c10 !important;
    margin-top: 0 !important;
  }

  #session h2 img
  {
    border: 1px solid #212c3b !important;
  }

  #char-count
  {
    background: #090c10 !important;
    padding: .5rem !important;
  }

  .tweet-counter
  {
    text-shadow: 0 1px 1px rgba(0,0,0,.55) !important;
  }

  .tweet-counter.warn
  {
    color: #a85424 !important;
  }

  .tweet-counter.superwarn
  {
    color: #cc3336 !important;
  }

  .content-searchbar
  {
    background-color: #161d27 !important;
    border-bottom: 1px solid #2f3d51 !important;
  }

  .ProfilePage-timelineHeader,.ProfileTimeline-separationModule
  {
    background-color: #212c3b !important;
    border-color: #2f3d51 !important;
  }

  .content-searchbar .search-query
  {
    box-shadow: none !important;
  }

  .SearchNavigation
  {
    z-index: 2 !important;
  }

  body.gallery-enabled .SearchNavigation,body.overlay-enabled .SearchNavigation
  {
    z-index: 1 !important;
  }

  .permalink-container>.permalink-footer
  {
    margin-top: 0 !important;
  }

  .DMPopover-content
  {
    background-color: #090c10 !important;
  }

  .DMComposer-attachment,.DMPopover-content.Caret:after,.DMTrustRequest,.MomentFormatLink-anchor
  {
    border-color: #090c10 !important;
  }

  .DMTrustRequest,.PromptbirdPrompt,.TypingIndicatorMessageBubble-dotContainer
  {
    background: #161d27 !important;
  }

  .PromptbirdPrompt--inline,.PromptbirdPrompt--inlinePointer
  {
    border-color: #1da1f2 !important;
  }

  #auto-close p,.AdaptiveSearchPage-moduleTitle,.DashUserDropdown.dropdown-menu button,.DashUserDropdown.dropdown-menu li>a,.DMActivity-title,.flex-module-header h3,.list .header-inner #content-main-heading,.modal-header .modal-title,.module h3,.ProfileHeaderCard-bio,.ProfileSidebar .flex-module-header h3,.PromptbirdPrompt-title,.TweetImpressionsModule-heading,body:not(.edge-design) .ProfileHeaderCard-birthdateText,body:not(.edge-design) .ProfileHeaderCard-joinDateText,body:not(.edge-design) .ProfileHeaderCard-locationText
  {
    color: #fff !important;
  }

  .ProfileCard-bio,.stream-item .account .content .bio
  {
    color: #aab8c2 !important;
  }

  .currently-dragging .tweet-form.is-droppable .tweet-drag-help,.RichEditor.is-fakeFocus,.RichEditor.is-fakeFocus~.TweetBoxAttachments,.tweet-box[contenteditable=true]:focus,.tweet-box input[type=text],.tweet-box textarea:focus
  {
    box-shadow: 0 0 0 1px #1b95e0 !important;
  }

  .TypingIndicatorMessageBubble.Caret:before
  {
    border-color: #161d27 !important;
  }

  body .reply-users-btn
  {
    color: #8899a6 !important;
  }

  body .reply-users-btn span b
  {
    color: #1c9dec !important;
  }

  .activity-popup-dialog-users,body.autoclose .footer
  {
    border-top: 1px solid #2f3d51 !important;
    background-color: #121921 !important;
  }

  #activity-popup-dialog.reply-users-popup .activity-popup-dialog-other-reply-users,#activity-popup-dialog.reply-users-popup .activity-popup-dialog-users .account
  {
    border-top: 1px solid #2f3d51 !important;
  }

  .ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover
  {
    background: transparent !important;
  }

  .bio.u-dir
  {
    background-color: transparent !important;
  }

  .Checkbox-fake,.Checkbox:checked
  {
    background: linear-gradient(180deg,#212c3b,#090c10) !important;
    border: 1px solid #161d27 !important;
    border-radius: 3px !important;
  }

  #activity-popup-dialog .modal-body,#auto-close p
  {
    background-color: #212c3b !important;
  }

  .ProfileNameTruncated .UserBadges .Icon
  {
    padding-right: 0 !important;
    padding-left: 2px !important;
  }

  .MomentFormatLink-description,.MomentFormatLink-title
  {
    color: #657786 !important;
  }

  .MomentFormatLink--withText .MomentFormatLink-anchor:active,.MomentFormatLink--withText .MomentFormatLink-anchor:focus,.MomentFormatLink--withText .MomentFormatLink-anchor:hover,.MomentFormatLink-anchor:active,.MomentFormatLink-anchor:focus,.MomentFormatLink-anchor:hover
  {
    background-color: #161d27 !important;
  }

  button:focus
  {
    box-shadow: 0 0 0 2px #1da1f2,0 0 2px 4px hsla(0,0%,100%,.25) !important;
  }

  .TwitterCard .EdgeButton--secondary.disabled,.TwitterCard .EdgeButton--secondary[aria-disabled=true],.TwitterCard .EdgeButton--secondary[disabled],.TwitterCard .EdgeButton--secondary[disabled]:hover
  {
    background-color: transparent !important;
  }

  .TwitterCard .EdgeButton--secondary
  {
    background: transparent !important;
  }

  .TwitterCard .EdgeButton--secondary:hover
  {
    background-color: #1b95e0 !important;
  }

  .ResponsiveLayout
  {
    background: transparent !important;
  }

  .ResponsiveLayout .PageContainer,.web-reporting-flow
  {
    background-color: transparent !important;
  }

  .web-reporting-flow .page-bottom,.web-reporting-flow .reportFlowHeader-web,.web-reporting-flow .web-item
  {
    color: #fff !important;
  }

  .reportFlowHeader-web .list-explanation.success-page
  {
    color: #fff !important;
  }

  .AdaptiveNewsRelatedHeadlines
  {
    background-color: #212c3b !important;
    border: 1px solid #2f3d51 !important;
  }

  .Streams-momentsTitle,.Streams-momentsViewAll a,.StreamsLiveVideoModule-title,.TweetWithPivotModule-header a
  {
    color: #fff !important;
  }

  .StreamsFooter,.StreamsTopBar
  {
    background: #212c3b !important;
    border: 0 !important;
  }

  .StreamsCategoryBar-itemName
  {
    color: #fff !important;
  }

  .InStreamSignup
  {
    background: #212c3b !important;
  }

  .StreamsCategoryBar-item+.StreamsCategoryBar-item
  {
    border-left: 0 !important;
  }

  .MomentCapsuleSummary--card
  {
    background: transparent !important;
    border: 0 !important;
  }

  .Streams-divider:before,.Streams-dividerText
  {
    background: #212c3b !important;
    color: #fff !important;
  }

  .Streams .TweetForwardTimeline .tweet
  {
    background: #212c3b !important;
  }

  .Streams .TweetForwardTimeline .AdaptiveMedia
  {
    border: 0 !important;
    border-radius: 5px 5px 0 0 !important;
  }

  .ThreadedConversation-showMoreThreads
  {
    background-color: #0f141a !important;
  }

  .StreamsCategoryBar-itemName--reduced
  {
    border-color: #0f141a !important;
  }

  .FacebookConnect-title,body:not(.edge-design)
  {
    background: #212c3b !important;
    color: #fff !important;
  }

  .LiveVideoOfficialAccount
  {
    background: #212c3b !important;
  }

  .LiveVideoDetails-title
  {
    color: hsla(0,0%,100%,.85) !important;
  }

  .LiveVideoOfficialAccount-card
  {
    border-color: #2f3d51 !important;
  }

  .LiveVideoPage-mediaContainer
  {
    z-index: 1 !important;
  }

  .LiveVideoTimelineNavigation
  {
    background: #212c3b !important;
    border-color: #2f3d51 !important;
    color: hsla(0,0%,100%,.85) !important;
  }

  .geo-not-enabled-yet p
  {
    color: hsla(0,0%,100%,.85) !important;
  }

  .trend-location-picker-item.selected
  {
    background-color: transparent !important;
    border: 0 !important;
  }

  body #permalink-overlay.PermalinkOverlay.PermalinkOverlay-with-background
  {
    z-index: 1010 !important;
  }

  .MomentCapsuleSummary--hero:hover,.MomentCapsuleSummary--portrait:hover
  {
    background: #1c2531 !important;
  }

  .block-dialog .block-user-description
  {
    background: #131920 !important;
  }

  .tweet.js-stream-tweet.has-cards.Tweet--invertedColors.has-content
  {
    background-color: transparent !important;
  }

  .Gallery-content:hover .tweet.js-stream-tweet.has-cards.Tweet--invertedColors.has-content
  {
    background-color: rgba(33,44,59,.75) !important;
  }

  .dropdown-menu .typeahead-items .selected,.dropdown-menu .typeahead-items .selected a,.dropdown-menu .typeahead-items li>a:focus,.dropdown-menu .typeahead-items li>a:hover
  {
    background-color: #1c9dec !important;
    color: #f5f8fa !important;
  }

  .typeahead-user-item-info.account-group .username,.typeahead .selected .fullname,.typeahead .selected .fullname:hover,.typeahead .selected .Icon--close,.typeahead .selected a,.typeahead .selected strong,.typeahead:hover .fullname,.typeahead a:hover,.typeahead a:hover .fullname,.typeahead a:hover strong
  {
    color: #f5f8fa !important;
  }

  .AdaptiveNewsTextHeadline-body
  {
    background-color: #121921 !important;
    border: 1px solid #2f3d51 !important;
  }

  .DMActivity--open,.permalink-container
  {
    border-radius: 8px !important;
  }

  .PermalinkOverlay .permalink
  {
    border-radius: 12px !important;
  }
}

@-moz-document url-prefix("https://mobile.twitter.com")
{
  ._1_vKaW5Q,._1bfHukDN,._1d_6kzhv,._1L-Rr7sz,._1lW9BO8P,._1qygzEvp,._2EmxsDVG,._2jEwv4_q,._2nUWv41O,._2vwsIlm0,._3cKAE7hX,._3dCVClw0,._3lHGpXjt,._3m-fJeDf,._3ooQyvPx,._3VY1UWs3,._10x6nIYi,._16q9OV8F,._24u5-vsm,.FsR6j-G7,.FsR6j-G7:active,.FsR6j-G7:focus,.FsR6j-G7:hover,.Gpm7TAP3,.lIgYF7yz,.LqlkGmch,.W1P7mM7E,.yY8bJa97,html
  {
    background-color: #0e131a !important;
    color: #fff !important;
  }

  ._1bBTfW4q,._2vY0UT8z:active,._3bf6snf7,.qb_4uBPl
  {
    background-color: rgba(29,161,242,.15) !important;
  }

  ._1YVNMg8K ._29kyA7wX
  {
    background-color: #657786 !important;
    border-color: #657786 !important;
  }

  ._266FL8X1:before
  {
    border-color: #657786 !important;
  }

  ._1fsL8NFb:hover,._1y-7iMRs:active,._1y-7iMRs:focus,._1y-7iMRs:hover,._3XRskxP3:active,.ktZMpANQ,.r5QzIRPN
  {
    background-color: rgba(101,119,134,.25) !important;
  }

  ._1n7-Ka2i
  {
    background: #0e131a !important;
    border-top: 1px solid #657786 !important;
  }

  ._1_FMKzvm
  {
    background-color: #14171a !important;
  }

  ._1MWHskJm,._1NUqA_Ya,._1wmatVSh,._38myriBx,._38myriBx:active,._38myriBx:focus,._38myriBx:hover
  {
    background-color: #1c9dec !important;
  }

  ._1u_kMV_N,._1UMVIL7K,._2gpfhfZk,._3WJqTbOE,.rn-q9ob72
  {
    color: #fff !important;
  }

  ._1d_6kzhv,._1s7qNPIc,._2jEwv4_q
  {
    box-shadow: 0 1px 0 rgba(101,119,134,.25) !important;
  }

  .yY8bJa97
  {
    box-shadow: 0 5px 30px 10px rgba(0,0,0,.25) !important;
  }

  ._1_vKaW5Q,._1gq1kIcW,._1Oxj60h6,._1qygzEvp,._1XHWlb5c,._2hx-WgQl,._2nUWv41O,._2OhV6WSs ._1eF_MiFx ._2sSKjr8W,._2r6GEaUv,._2SfRhtNW,._2Sszw7pC,._3-utd0lH,._3DRCrDG0,._3facEWb0,._3facEWb0:active,._3facEWb0:focus,._3facEWb0:hover,._16q9OV8F,._22uh2-tW,._33HzS5QJ,._qZ42ApI,.FaFY-n1u,.FsR6j-G7,.pQ0LYqFV,.qb_4uBPl
  {
    border-color: rgba(101,119,134,.25) !important;
  }

  ._1HXcreMa,._3ZSf8YGw
  {
    color: #1c9dec !important;
  }

  ._3fv5_7QL
  {
    border-bottom: 1px solid #1b95e0 !important;
  }

  ._1_FMKzvm,._1_KafmK5,._2_6WZWUw
  {
    border-bottom: 1px solid rgba(101,119,134,.25) !important;
  }

  ._3Ko_vUO1,._15-p_S0N
  {
    border: 1px solid rgba(101,119,134,.25) !important;
    color: #999 !important;
  }

  .zeo-m5c9
  {
    border-top: 1px solid rgba(101,119,134,.25) !important;
  }

  ._31Q8EAc9
  {
    color: #999 !important;
  }

  ._3QPrjhX2,.lIgYF7yz,.MmJh82_T
  {
    border-color: transparent !important;
  }
}
