/* From https://userstyles.org/styles/148766/dark-theme-for-twitchtv */

@-moz-document domain("go.twitch.tv"), domain("twitch.tv")
{
  :root
  {
    --purple: #A68ED2 !important;
    --darkpurple: hsla(261, 43%, 40%, 1)!important;
    --lightpurple: hsla(261, 43%, 60%, 1)!important;
    --greybg: hsl(0, 0%, 11%) !important;
    --greybg2: hsl(0, 0%, 9%) !important;
    --midgrey: hsla(0, 0%, 12%, 1) !important;
    --midgrey2: #282729!important;
    --lightgrey: hsl(0, 0%, 20%) !important;
    --bordercolor: hsla(0, 0%, 30%, 1) !important;
    --textcolor: hsla(0, 0%, 80%, 1) !important;
    --textcolor2: hsla(0, 0%, 50%, 1) !important;
    --textcolor3: hsla(0, 0%, 70%, 1) !important;
  }

  .fullwidth_main
  {
    background: var(--greybg)!important;
  }

  .card__info
  {
    color: var(--textcolor)!important;
  }

  .card__title
  {
    color: var(--purple)!important;
  }

  .fullwidth_light
  {
    border-color: var(--bordercolor)!important;
    background: var(--lightgrey)!important;
  }

  h2
  {
    color: var(--textcolor)!important;
  }

  .fullwidth_main.front_page h2 span
  {
    color: var(--textcolor2)!important;
  }

  a
  {
    color: var(--purple)!important;
  }

  .header-announcement
  {
    background-color: var(--lightgrey)!important;
  }

  .header-announcement__message
  {
    color: var(--textcolor)!important;
  }

  .top-nav__menu
  {
    background-color: var(--greybg)!important;
  }

  .top-nav__logo a
  {
    background-color: var(--greybg)!important;
  }

  .tse-scroll-content.js-main-col-scroll-content
  {
    background-color: var(--greybg)!important;
  }

  .top-nav .new-search__input[type=text]
  {
    background-color: var(--lightgrey)!important;
  }

  h4, p, h3
  {
    color: var(--textcolor)!important;
  }

  .button--text
  {
    color: var(--purple)!important;
  }

  .button--hollow, .button--radio, .button--checkbox
  {
    background: transparent;
    color: var(--textcolor)!important;
    box-shadow: none;
  }

  .balloon-wrapper, .c-text-live
  {
    color: var(--purple)!important;
  }

  .cn-metabar__livecount svg
  {
    fill: var(--purple)!important;
  }

  .brick
  {
    background: var(--greybg)!important;
    border-color: var(--bordercolor)!important;
  }

  .cn-bar
  {
    background: var(--midgrey)!important;
    border-color: var(--bordercolor)!important;
    box-shadow: none!important;
  }

  .cn-bar__displayname
  {
    color: var(--textcolor)!important;
  }

  .button--icon-only figure svg
  {
    fill: var(--purple)!important;
  }

  .button figure svg, .button figure img
  {
    fill: var(--purple)!important;
  }

  .chat-container, .ember-chat-container
  {
    background-color: var(--greybg)!important;
  }

  .flex__item.scroll.sc-list-container.js-social-column-list-container
  {
    background-color: var(--greybg2)!important;
  }

  .chat-container, .ember-chat-container
  {
    background-color: var(--greybg)!important;
    color: #19171c;
  }

  .ember-chat .chat-messages .chat-lines
  {
    background-color: var(--greybg)!important;
    color: var(--textcolor)!important;
  }

  .ember-chat .chat-header
  {
    background: var(--greybg)!important;
    box-shadow: inset 0 -1px 0 0 var(--bordercolor)!important;
  }

  .balloon
  {
    color: var(--textcolor)!important;
  }

  .fp-side
  {
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color: var(--lightgrey)!important;
  }

  .c-background
  {
    background-color: var(--lightgrey)!important;
    border-color: var(--bordercolor)!important;
  }

  .fp-container
  {
    color: var(--textcolor)!important;
  }

  .tw-border-t.tw-border-r.tw-border-b.tw-border-l.tw-c-background.tw-flex.tw-flex-row.tw-mg-b-2.tw-pd-2
  {
    background-color: var(--midgrey)!important;
    color: var(--textcolor)!important;
  }

  .tw-full-height.tw-flex.tw-flex-column.tw-flex-nowrap
  {
    background-color: var(--midgrey)!important;
    color: var(--textcolor)!important;
  }

  .tw-pd-y-1
  {
    border-color: var(--bordercolor)!important;
  }

  .tw-button--hollow
  {
    border-color: var(--bordercolor)!important;
    color: var(--textcolor)!important;
  }

  .tw-pd-3
  {
    background-color: var(--greybg)!important;
  }

  .tw-border-l
  {
    border-left: 1px solid var(--bordercolor)!important;
  }

  .tw-border-b
  {
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .tw-border-r
  {
    border-right: 1px solid var(--bordercolor)!important;
  }

  .tw-border-t
  {
    border-top: 1px solid var(--bordercolor)!important;
  }

  .tw-input
  {
    border: 1px solid var(--bordercolor)!important;
    background: var(--midgrey)!important;
    color: var(--textcolor)!important;
  }

  .anon-side-nav.tw-full-width
  {
    background-color: var(--greybg2)!important;
  }

  .tw-theme--dark .side-nav-card__link
  {
    background-color: var(--greybg2)!important;
  }

  .tw-pd-t-2.tw-pd-b-3.tw-pd-x-3
  {
    background-color: var(--greybg)!important;
  }

  .directory-tabs
  {
    background-color: var(--midgrey)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .directory-tabs__item:before
  {
    background: var(--bordercolor)!important;
  }

  .event__broadcast-wrapper, .event__video.event__video-last.tw-pd-1
  {
    background-color: var(--greybg)!important;
  }

  h5
  {
    color: var(--textcolor)!important;
  }

  .channel-header
  {
    background-color: var(--greybg)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .tw-pd-t-2.tw-pd-x-3
  {
    background-color: var(--greybg)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .channel-info-bar.tw-border-t.tw-border-r.tw-border-b.tw-border-l.tw-flex.tw-flex-wrap.tw-justify-content-between.tw-pd-1.tw-lg-pd-t-1.tw-lg-pd-b-0.tw-lg-pd-x-1
  {
    background-color: var(--greybg2)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .tw-ellipsis.tw-mg-b-05
  {
    color: var(--textcolor)!important;
  }

  .tw-stat__icon svg, .tw-stat__value
  {
    color: var(--purple)!important;
  }

  .chat-input.tw-pd-b-2.tw-pd-x-2
  {
    background-color: var(--greybg)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .chat-list__lines.tw-flex-grow-1.scrollable-area, .tw-full-height.tw-flex-grow-1.tw-pd-b-1
  {
    background-color: var(--greybg)!important;
  }

  .tw-textarea
  {
    border: 1px solid var(--bordercolor)!important;
    background: var(--midgrey)!important;
    color: var(--textcolor)!important;
  }

  .chat-line__message, .chat-line__moderation, .chat-line__raid, .chat-line__ritual, .chat-line__status, .chat-line__subscribe
  {
    color: var(--textcolor)!important;
  }

  .room-selector__header.tw-border-r.tw-border-b.tw-border-l.tw-c-background-alt-2.tw-full-width.tw-align-items-center.tw-flex.tw-flex-shrink-0.tw-justify-content-between.tw-pd-r-1.tw-pd-l-2
  {
    background-color: var(--greybg)!important;
  }

  .tw-c-text-alt
  {
    color: var(--textcolor)!important;
  }

  .tw-button__text
  {
    color: var(--textcolor)!important;
  }

  .tw-pill--live, .tw-pill--notification, .tw-theme--dark .tw-pill--live, .tw-theme--dark .tw-pill--notification, .tw-theme--light .tw-pill--live, .tw-theme--light .tw-pill--notification
  {
    background: var(--purple)!important;
  }

  .channel-header__item:before
  {
    background: var(--bordercolor)!important;
  }

  .tw-button-icon__icon
  {
    color: var(--purple)!important;
  }

  .tw-pd-y-1
  {
    background-color: var(--midgrey)!important;
  }

  .tw-full-width.tw-pd-x-3.tw-pd-y-2
  {
    background-color: var(--greybg)!important;
  }

  .tw-c-text-alt-2
  {
    color: var(--textcolor2)!important;
  }

  .blue-bar.tw-c-text.tw-full-width.tw-relative
  {
    background-color: var(--lightgrey)!important;
  }

  #mantle_skin, .anon-front__content-section.tw-c-background.tw-mg-x-auto.tw-pd-t-5.tw-pd-b-3.tw-pd-x-1
  {
    background-color: var(--greybg)!important;
  }

  .tw-c-background
  {
    background-color: var(--greybg2)!important;
  }

  .anon-front__social-container.tw-border-t.tw-border-b.tw-align-items-center.tw-flex.tw-flex-column.tw-justify-content-center.tw-pd-x-2.tw-pd-y-3
  {
    background-color: var(--greybg2)!important;
    border-color: var(--bordercolor)!important;
  }

  .footer
  {
    background: var(--greybg2)!important;
  }

  .root-scrollable__wrapper.tw-full-width.tw-relative
  {
    background: var(--greybg)!important;
  }

  .search-title-bar.tw-border-b.tw-c-background-alt-2.tw-z-above.tw-align-items-center.tw-flex.tw-relative, .tw-flex.tw-pd-r-2.tw-pd-l-1.tw-pd-y-05
  {
    background-color: var(--greybg)!important;
  }

  .tw-c-text-link.tw-upcase.tw-font-size-7
  {
    color: var(--purple)!important;
  }

  .search-results-panel__highlight-link
  {
    color: var(--purple)!important;
  }

  .search-results-panel__card.tw-full-width.tw-pd-x-1.tw-pd-y-05:hover
  {
    background-color: var(--lightgrey)!important;
  }

  .tw-pill--brand
  {
    background: var(--darkpurple)!important;
  }

  .passport-modal.tw-relative.tw-pd-t-4.tw-pd-b-2.tw-pd-x-2
  {
    background: var(--greybg)!important;
  }

  .tw-flex-grow-1.tw-pd-t-05.tw-pd-b-05.tw-pd-l-1, .whispers-threads-box__header, .whispers-threads-box__open-close.tw-c-background-alt-2.tw-align-items-center.tw-flex.tw-justify-content-center.tw-relative
  {
    background: var(--greybg)!important;
  }

  .tw-strong
  {
    color: var(--textcolor)!important;
  }

  .whispers-list-item:hover
  {
    background: var(--lightgrey)!important;
  }

  .thread-message__message--part
  {
    color: var(--textcolor)!important;
  }

  .tw-top-0.tw-full-width.tw-align-items-center.tw-flex.tw-flex-shrink-0.tw-absolute
  {
    background: var(--lightgrey)!important;
  }

  .thread-message__message--user-name
  {
    background-color: var(--lightgrey)!important;
  }

  .thread-header__title-bar-container.thread-header__title-bar-container--focused.tw-full-width.tw-align-items-center.tw-flex.tw-flex-grow-1.tw-flex-nowrap.tw-pd-x-1.tw-pd-y-05
  {
    background-color: var(--greybg)!important;
    border-color: var(--bordercolor)!important;
  }

  .thread-header__title-bar-container
  {
    background: var(--bordercolor)!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 1px solid var(--bordercolor)!important;
  }

  .tw-mg-b-2, div.side-nav-header.tw-mg-t-1.tw-mg-x-1.tw-pd-t-1.tw-pd-b-05
  {
    background-color: var(--greybg2)!important;
  }

  .tw-full-width.tw-flex-grow-1
  {
    background-color: var(--greybg2)!important;
  }

  .tw-full-width.tw-overflow-hidden.tw-flex.tw-justify-content-end.tw-align-left.tw-pd-1
  {
    background-color: var(--greybg2)!important;
  }

  .tw-theme--dark .tw-border-t
  {
    border-top: 1px solid var(--bordercolor)!important;
  }

  .tw-theme--dark .tw-channel-status-indicator, .tw-theme--light .tw-channel-status-indicator
  {
    background: var(--purple)!important;
  }

  .tw-c-background-alt
  {
    background-color: var(--lightgrey)!important;
  }

  .prime-offer-header.tw-border-b.tw-c-background-alt-2.tw-pd-x-1.tw-pd-y-05, .prime-offer__new-offer-header.tw-border-b.tw-c-background-alt-2.tw-pd-x-1.tw-pd-y-05
  {
    background-color: var(--greybg)!important;
  }

  .tw-theme--dark .tw-border-r
  {
    border-right: 1px solid var(--bordercolor)!important;
  }

  .tw-checkbox__label:before
  {
    -webkit-box-shadow: inset 0 0 0 1px var(--bordercolor), 0 0 0 transparent!important;
    box-shadow: inset 0 0 0 1px var(--bordercolor), 0 0 0 transparent!important;
  }

  .tw-checkbox__label
  {
    color: var(--textcolor)!important;
  }

  .tw-select
  {
    border: 1px solid var(--bordercolor)!important;
    background: var(--greybg)!important;
    color: var(--textcolor)!important;
  }

  .video-filters
  {
    background-color: var(--greybg)!important;
    color: var(--textcolor)!important;
  }

  .video-filters:hover
  {
    background-color: var(--lightgrey)!important;
    color: var(--textcolor)!important;
  }

  .video-chat.qa-vod-chat.tw-border-l.tw-c-background-alt-2.tw-c-text-alt.tw-full-width.tw-full-height.tw-flex.tw-flex-column.tw-flex-shrink-0.tw-flex-nowrap.tw-relative
  {
    background-color: var(--greybg)!important;
    color: var(--textcolor)!important;
  }

  .vod-message.vod-message--focused, .vod-message:hover
  {
    background-color: var(--lightgrey)!important;
  }

  .video-chat__header
  {
    box-shadow: inset 0 -1px 0 0 var(--bordercolor)!important;
  }

  .video-chat__input
  {
    box-shadow: inset 0 1px 0 0 var(--bordercolor)!important;
  }

  .tw-tab-nav__item:not(.tw-tab-nav__item--disabled) a.active, .tw-tab-nav__item:not(.tw-tab-nav__item--disabled) button.active
  {
    color: var(--textcolor)!important;
    -webkit-box-shadow: 0 -1px 0 var(--purple) inset!important;
    box-shadow: inset 0 -1px 0 var(--purple)!important;
  }

  .tw-radio__label
  {
    color: var(--textcolor2)!important;
  }

  .tw-radio__label:before
  {
    background: var(--greybg)!important;
  }

  .tw-tab-nav__item:not(.tw-tab-nav__item--disabled) a, .tw-tab-nav__item:not(.tw-tab-nav__item--disabled) button
  {
    color: var(--purple)!important;
  }

  .dashboard-side-nav.tw-border-r.tw-c-background-alt-2.tw-full-height.tw-flex-grow-0.tw-flex-shrink-0.tw-relative
  {
    background-color: var(--greybg2)!important;
  }

  .side-nav-dashboard-section__hotspot
  {
    background: var(--darkpurple)!important;
  }

  .dashboard-side-nav__link:hover
  {
    background-color: var(--lightgrey)!important;
  }

  .tw-pd-1
  {
    color: var(--textcolor)!important;
  }

  .dashboard-side-nav__link--active
  {
    background-color: var(--lightgrey)!important;
  }

  .clmgr-table__row
  {
    background: var(--midgrey)!important;
    min-width: 60rem;
  }

  .clmgr-table__row:nth-child(2n)
  {
    background: var(--midgrey2)!important;
  }

  .persistent-notification__area.tw-flex.tw-flex-nowrap.tw-pd-t-1.tw-pd-r-3.tw-pd-b-1.tw-pd-l-1
  {
    background: var(--midgrey2)!important;
  }

  .persistent-notification__area.tw-flex.tw-flex-nowrap.tw-pd-t-1.tw-pd-r-3.tw-pd-b-1.tw-pd-l-1:hover
  {
    background: var(--lightgrey)!important;
  }

  .js-conversations-list-bottom-bar.conversations-list-bottom-bar.flex
  {
    background: var(--greybg)!important;
    border-color: var(--bordercolor)!important;
  }

  .vod-vertical-nav__items.scroll-y.pd-b-6
  {
    background: var(--greybg2)!important;
    border-color: var(--bordercolor)!important;
  }

  .dashboard-hotspot--announcement
  {
    background: var(--darkpurple)!important;
    ;
  }

  .vod-vertical-nav__link:hover, .vod-vertical-nav__link:active, .vod-vertical-nav__link:focus
  {
    background: var(--lightgrey)!important;
  }

  .dash-widget.js-live-widget
  {
    background-color: var(--greybg)!important;
    color: var(--textcolor)!important;
    border-color: var(--bordercolor)!important;
  }

  select.form__input, textarea.form__input, .form__input[type=text], .form__input[type=email], .form__input[type=password], .form__input[type=search]
  {
    box-shadow: inset 0 0 0 1px var(--bordercolor), 0 0 0 transparent!important;
    background-color: var(--lightgrey)!important;
    color: var(--textcolor)!important;
  }

  .form__label
  {
    color: var(--textcolor)!important;
  }

  .dash-widget__header
  {
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .tw-tabs
  {
    box-shadow: inset 0 -1px 0 var(--bordercolor)!important;
  }

  .dash-column
  {
    border-top: 1px solid var(--bordercolor)!important;
  }

  h1.title.font-size-3
  {
    color: var(--textcolor)!important;
  }

  .dash-widget__divider
  {
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .form__icon svg
  {
    fill: var(--textcolor2)!important;
  }

  .ach-q-item__header
  {
    background-color: var(--greybg)!important;
  }

  .ach-card
  {
    background-color: var(--lightgrey)!important;
  }

  .ach-card--expanded .ach-card__inner
  {
    background-color: var(--midgrey)!important;
    border: 1px solid var(--bordercolor)!important;
  }

  .tw-border-t.tw-border-r.tw-border-b.tw-border-l.tw-c-background-alt-2.tw-align-items-center.tw-flex.tw-flex-grow-1.tw-flex-nowrap.tw-pd-1
  {
    background-color: var(--midgrey)!important;
  }

  .ach-q-item.ach-q-item--expanded.tw-border-t.tw-c-background-alt-2.tw-flex.tw-pd-1
  {
    background-color: var(--midgrey)!important;
  }

  .list-item--square
  {
    color: var(--textcolor)!important;
  }

  .twitch_subwindow_container .card, .kraken-embed .card, .kraken-page .card
  {
    background: var(--greybg)!important;
  }

  .pd-r-05
  {
    color: var(--textcolor2)!important;
  }

  .video-manager-processed-list
  {
    color: var(--textcolor2)!important;
  }

  .subscription-dash .subscription-feature-list
  {
    background-color: var(--midgrey)!important;
  }

  .upcase.strong.c-text-alt.pd-y-05
  {
    color: var(--textcolor)!important;
  }

  .form__input[type=checkbox]+label:before, .form__input[type=radio]+label:before
  {
    background: var(--greybg)!important;
  }

  .cl-container .section-header
  {
    position: relative;
    background: var(--lightgrey)!important;
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .cl-container.section-header.header-back
  {
    border-right: 2px solid var(--bordercolor)!important;
  }

  .brick
  {
    color: var(--textcolor)!important;
  }

  .vod-vertical-nav__list-item .active, .vod-vertical-nav__list-item .active:hover, .vod-vertical-nav__list-item .active:active, .vod-vertical-nav__list-item .active:focus
  {
    background: var(--lightgrey)!important;
  }

  .stats-table__header
  {
    background: var(--midgrey)!important;
    color: var(--textcolor)!important;
  }

  .border
  {
    border: 1px solid var(--bordercolor)!important;
  }

  .border-b
  {
    border-bottom: 1px solid var(--bordercolor)!important;
  }

  .pill--red
  {
    background: var(--purple)!important;
  }

  .prime-crown__new-offer-count
  {
    border: none!important;
  }

  .top-nav .notification-center__icon svg
  {
    fill: var(--purple)!important;
  }

  .offer-list__container, .offer-item--title
  {
    background: var(--greybg)!important;
    border-bottom: .1rem solid var(--bordercolor)!important;
    color: var(--textcolor)!important;
  }

  .balloon
  {
    border-radius: 2px;
    color: #19171c;
    box-shadow: 0 0 0 1px var(--bordercolor), 0 1px 1px rgba(0,0,0,.25)!important;
  }

  .chat-container
  {
    border-left: 1px solid var(--bordercolor)!important;
  }

  .event__video.tw-pd-1
  {
    background-color: var(--greybg)!important;
  }

  .tw-align-items-baseline.tw-flex.tw-justify-content-between.tw-pd-1
  {
    background-color: var(--greybg)!important;
  }

  .mention-fragment
  {
    background-color: #6c50a0;
  }
}

@-moz-document url-prefix("https://passport.twitch.tv/")
{
  :root
  {
    --purple: #A68ED2 !important;
    --greybg: hsl(0, 0%, 11%) !important;
    --midgrey: hsla(0, 0%, 12%, 1) !important;
    --lightgrey: hsl(0, 0%, 20%) !important;
    --bordercolor: hsla(0, 0%, 30%, 1) !important;
    --textcolor: hsla(0, 0%, 80%, 1) !important;
    --textcolor2: hsla(0, 0%, 50%, 1) !important;
    --textcolor3: hsla(0, 0%, 70%, 1) !important;
  }

  .button.fb_button
  {
    background: var(--lightgrey)!important;
    color: var(--textcolor3)!important;
  }

  .button.fb_button:hover
  {
    background: var(--lightgrey)!important;
    color: var(--purple)!important;
  }

  .kraken-embed .card .text-content
  {
    background-color: var(--greybg)!important;
  }

  .kraken-embed .card .item input[type=password], .kraken-embed .card .item input[type=text], .kraken-embed .card .item textarea, .kraken-page .card .item input[type=password], .kraken-page .card .item input[type=text], .kraken-page .card .item textarea, .twitch_subwindow_container .card .item input[type=password], .twitch_subwindow_container .card .item input[type=text], .twitch_subwindow_container .card .item textarea
  {
    background-color: var(--lightgrey)!important;
    border-color: var(--bordercolor)!important;
  }

  input.string, input.text, textarea
  {
    color: var(--textcolor)!important;
  }

  label
  {
    color: var(--textcolor)!important;
  }

  .dropdown, .dropdown_static
  {
    color: var(--textcolor)!important;
    background: var(--lightgrey)!important;
    border-color: var(--bordercolor)!important;
  }

  body.kraken-page
  {
    background: var(--lightgrey)!important;
  }

  .kraken-embed .card .item select, .kraken-page .card .item select, .twitch_subwindow_container .card .item select
  {
    background-color: var(--lightgrey)!important;
    color: var(--textcolor)!important;
  }
}
